{# <div class="hometab box">
	<div class="container">
		<div class="tab-head">
			<div class="hometab-heading box-heading">{{ heading_title }}</div>

			<div id="categorytabs" class="htabs">
				<ul class="etabs">
					{% for category in categories %}
						<li class="tab"><a href="#categorytab-{{ category.category_id }}" data-toggle="tab">{{ category.category_name }}</a></li>
					{% endfor %}
				</ul>
			</div>
		</div>
 		
		{% set category_cnt = 0 %}
		{% for category in categories %}
			<div id="categorytab-{{ category.category_id }}" class="tab-content">
				<div class="box">
					<div class="box-content">					
						{% set sliderFor = 5 %}
						{% set productCount = category.products|length %}
						
						{% if productCount >= sliderFor %}
							<div class="customNavigation">
								<a class="fa prev fa-arrow-left">&nbsp;</a>
								<a class="fa next fa-arrow-right">&nbsp;</a>
							</div>	
						{% endif %}
					
						<div class="box-product {% if productCount >= sliderFor %}product-carousel{% else %} productbox-grid{% endif %}" 
							id="{% if productCount >= sliderFor %}tabcategory{{ category_cnt }}-carousel{% else %}tabcategory{{ category_cnt }}-grid{% endif %}">
						 
							{% for product in category.products %}
								<div class="{% if productCount >= sliderFor %}slider-item{% else %}product-items{% endif %}">
									<div class="product-block product-thumb">
										<div class="product-block-inner">
											<div class="image">
												{% if product.thumb_swap %}
													<a href="{{ product.href }}">
														<img src="{{ product.thumb }}" title="{{ product.name }}" alt="{{ product.name }}" class="img-responsive"/>
														<img class="img-responsive hover-image" src="{{ product.thumb_swap }}" title="{{ product.name }}" alt="{{ product.name }}"/>
													</a>
												{% else %}
													<a href="{{ product.href }}">
														<img src="{{ product.thumb }}" title="{{ product.name }}" alt="{{ product.name }}" class="img-responsive"/>
													</a>
												{% endif %}
												
												{% if not product.special %}        
												{% else %}
													<span class="saleicon sale">Скидка</span>    
												{% endif %}
												
												{% if product.special %}        
													<div class="percentsaving"> -{{ product.percentsaving }}%</div>
												{% endif %}
												
												<div class="button-group">
													<div class="quickview-button" data-toggle="tooltip" title="{{ quick_view }}"> <a class="quickbox" href="{{ product.quick }}">
														<i class="fa fa-eye" aria-hidden="true"></i></a></div>
													<button type="button" data-toggle="tooltip" title="{{ button_cart }}" class="addtocart" onclick="cart.add('{{ product.product_id }} ');"><span>{{ button_cart }}</span></button>
												</div>
												
											</div>
										
											 <div class="product-details">
												<div class="caption">
												
												<p class="bold-title"><a href="{{ product.href }} ">{{ product.name }} </a></p>
												<p>Артикул: {{product.sku}}</p>
													
													{% if product.price %}
														<p class="price">
														{% if not product.special %}
														{{ product.price }}
														{% else %}
														<span class="price-new">{{ product.special }}</span> <span class="price-old">{{ product.price }}</span>
														{% endif %}
														{% if product.tax %}
														<span class="price-tax">{{ text_tax }} {{ product.tax }}</span>
														{% endif %}
														</p>
													{% endif %}
												<button type="button" class="addcart" data-toggle="tooltip" title="{{ button_cart }} " onclick="cart.add('{{ product.product_id }} ');"><span>{{ button_cart }}</span> </button>
												</div>
											 </div>
										</div>
									</div>
								</div>
							{% endfor %}
						</div>
					</div>
				</div>
			   
			    {% if productCount < sliderFor %}
					<div class="cz-status">
					<i class="fa fa-frown-o"></i>
					{{ text_no_products }}
					</div>
					<div class="viewmore">
					<a href="{{ category.category_href }}" class="btn btn-primary">{{ text_view_more }}</a>
					</div>
				{% endif %}

				
				<span class="tabcategory{{ category_cnt }}_default_width" style="display:none; visibility:hidden"></span> 
				{% set category_cnt =  category_cnt + 1 %} 
			
			</div>
		{% endfor %}
	</div>
</div>

<script type="text/javascript">
	$('#categorytabs a').tabs();
</script>  #}


  <section class="custom_products tabs mb-40">
    <div class="custom_container">
      <div class="section_content">
        <div class="section_title">
          <h2>{{ heading_title }}</h2>
          <div class="subtitle tab_items">
		    {% set category_cnt = 0 %}
		  	{% for category in categories %}
				<a href="javascript:void(0)"  {% if category_cnt <= 0 %} class="is-active"{% endif %} data-tab="tab{{ category.category_id }}">{{ category.category_name }}</a> 
				{% set category_cnt = category_cnt + 1 %}  
			{% endfor %}
          </div>
          <div class="custom_slider_arrows ">
            <div class="prev arrow fa fa-light fa-chevron-left"></div>
            <div class="next arrow fa fa-light fa-chevron-right"></div>
          </div>
        </div>
		{% set category_cnt = 0 %}
		{% for category in categories %}
			<div class="products_list owl-carousel tab_content {% if category_cnt <= 0 %}is-active{% endif %}" data-content="tab{{ category.category_id }}Content">
				{% for product in category.products %}
					<div style="cursor:pointer" class="owl-slide">
						<figure onclick="window.location.href = '{{ product.href }}';">
							<img src="{{ product.thumb }}" alt="">
						</figure>
						<div class="product_content">
							<div onclick="window.location.href = '{{ product.href }}';" class="title">{{ product.name }}</div>
							<div class="slug">Артикул: {{ product.sku }}</div>
							<div class="price">
								{% if product.price %}
									{% if not product.special %}
										<div class="new">{{ product.price }}</div>
									{% else %}
										<div class="new">{{ product.special }}</div> 
										<div class="old">{{ product.price }}</div>
									{% endif %}
								{% endif %}
							</div>
							<div onclick="cart.add('{{ product.product_id }} ');" class="buy_btn"><a>Купить</a></div>
						</div>
					</div>
				{% endfor %}
			</div>
			{% set category_cnt = category_cnt + 1 %}  
		{% endfor %}
      </div>
    </div>
  </section>