<section class="custom_products mb-40">
    <div class="custom_container">
		<div class="section_content">
			<div class="section_title">
				<h2>Распродажа</h2>
				<div class="custom_slider_arrows">
					<div class="prev arrow fa fa-light fa-chevron-left"></div>
					<div class="next arrow fa fa-light fa-chevron-right"></div>
				</div>
			</div>
			<div class="products_list owl-carousel">
				{% for product in products %}
					<div style="cursor:pointer" class="owl-slide">
						<figure onclick="window.location.href = '{{ product.href }}';">
						<img src="{{ product.thumb }}" alt="{{ product.name }}">
						</figure>
						<div class="product_content">
							<div class="title" onclick="window.location.href = '{{ product.href }}';">{{ product.name }}</div>
							<div class="slug">Артикул: {{ product.sku }}</div>
							<div class="price">
								<div class="new">{{ product.special }}</div>
								<div class="old">{{ product.price }}</div>
							</div>
							<div onclick="cart.add('{{ product.product_id }} ');" class="buy_btn"><a>{{ button_cart }}</a></div>
						</div>
					</div>
				{% endfor %}
			</div>
		</div>
	</div>
</section>

