{{ header }}
<div class="dl_theme">
	{{ content_top }}
    {{ cats }}
    {{ content_bottom }}
    {{ latest }}
    {{ column_right }}
</div>

<script>
  $('.brands_slider').owlCarousel({
      items: 5,
      itemsDesktop : [1199,4], 
      itemsDesktopSmall : [991,3], 
      itemsTablet: [480,2], 
      itemsMobile : [320,2],
      singleItem: false,
      navigation: true,
      pagination: false,
      autoPlay: true         
  });
  
  $('.blog_list').owlCarousel({
      items: 3,
      itemsDesktop : [1199,2], 
      itemsDesktopSmall : [991,2], 
      itemsTablet: [480,1], 
      singleItem: false,
      navigation: true,
      pagination: false,
      autoPlay: true,   
      margin: 15            
  });

  $('.products_list').owlCarousel({
    items: 5,
    itemsDesktop : [1199,4], 
    itemsDesktopSmall : [991,3], 
    itemsTablet: [480,1],
    singleItem: false,
    navigation: true,
    pagination: false,
    autoPlay: true,    
    margin: 45     
  });
  const customArrows = document.querySelectorAll(".custom_slider_arrows .arrow");
  customArrows.forEach( function (item) {
    item.addEventListener("click", e => {
      console.log("clicked")
      const target = e.target;
      const parent = target.closest("section");
      if(parent.classList.contains("tabs")){
        if(target.classList.contains("prev")){
          $(parent.querySelector(".owl-carousel.is-active")).trigger('owl.prev');
        }else if(target.classList.contains("next")){
          $(parent.querySelector(".owl-carousel.is-active")).trigger('owl.next');
        }
      }else{
        if(target.classList.contains("prev")){
          $(parent.querySelector(".owl-carousel")).trigger('owl.prev');
        }else if(target.classList.contains("next")){
          $(parent.querySelector(".owl-carousel")).trigger('owl.next');
        }
      }
    })
  })
  // products tabs
  const tabs = document.querySelectorAll(".tabs .tab_items a");
  tabs.forEach( function (tab) {
    tab.addEventListener("click", e => {
      e.preventDefault;
      const parent = e.target.closest(".tabs");
      const allContent = parent.querySelectorAll(".tab_content");
      allContent.forEach( item => {
        item.classList.remove("is-active")
      })
      tabs.forEach( item2 => {
        item2.classList.remove("is-active")
      })
      const tabNumber = e.target.getAttribute("data-tab")
      console.log(tabNumber)
      e.target.classList.add("is-active");
      parent.querySelector(`.tab_content[data-content="${tabNumber}Content"]`).classList.add("is-active")
    })
  })
</script>
<script src="catalog/view/javascript/dynamic-options.js"><script>

{{ footer }}