{{ header }}

<div class="dl_theme white">
  <div class="breadcrumbs_wrap">
    <ul class="breadcrumb">
      {% for breadcrumb in breadcrumbs %}
      <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
      {% endfor %}
    </ul>
  </div>
  <section class="product_main_info">
    <div class="container">
      <div class="product_main_info_wrap">
        <h1 class="product_title">{{ heading_title }}</h1>
        <div class="left product-image thumbnails">
          <div class="product_slider swiper">
            <div class="swiper-wrapper">
              {% for  image in images %}
                <div class="swiper-slide">
                  <div class="product-block">
                      <a
                          href="{{ image.thumb }}"
                          title="{{ heading_title }}"
                          class="elevatezoom-gallery"
                          data-image="{{ image.popup }}"
                          data-zoom-image="{{ image.thumb }}"
                      >
                          <img
                              src="{{ image.thumb }}"
                              
                              title="{{ heading_title }}"
                              alt="{{ heading_title }}"
                          />
                      </a>
                  </div>
                </div>
              {% endfor %}
            </div>
            <div class="swiper-pagination"></div>
          </div>
          <div class="image">
            <a class="thumbnail" href="{{ popup }}">
              <img
                  id="tmzoom"
                  src="{{ thumb }}"
                  data-zoom-image="{{ popup }}"
                  title="{{ heading_title }}"
                  alt="{{ heading_title }}"
              />
            </a>
            <div class="zoom">
              <i class="ri-search-line"></i>
            </div>
          </div>
        </div>
        <div class="product_content" id="product">
          <div class="info">
            <div class="info_title">{{ text_o_tovare }}</div>
            <div class="info_list">
              <ul>
                {% if manufacturer %}
                  <li>{{ text_manufacturer }} <span><a href="{{ manufacturers }}">{{ manufacturer }}</a></span></li>
                {% endif %}
                <li>{{ text_model }} <span>{{ model }}</span></li>
                <li>{{ text_sku }} <span>{{ sku }}</span></li>
                {% if reward %}
                  <li>{{ text_reward }} <span>{{ reward }}</span></li>
                {% endif %}
                <li>{{ text_stock }} <span>{{ stock }}</span></li>
              </ul>
            </div>
            <div class="middle_link">
              <a href="./#product_desc" data-tab="tab1">{{ text_go_discription }}</a>
            </div>
            <div class="info_title">{{ text_delivery }}</div>
            <div class="info_list special">
              <ul>
                <li>Краснодар: <span>1 день</span></li>
                <li>Сочи: <span>3 дня</span></li>
                <li>Ростов-на-Дону: <span>5 дней</span></li>
              </ul>
            </div>
          </div>
          <div class="mini_cart">
            {% if price %}
              <div class="price">
                {% if not special %}
                  <div class="current_price">{{ price }}</div>
                {% else %}
                  <div class="current_price">{{ special }}</div>
                  <del class="old_price">{{ price }}</del>
                {% endif %}
              </div>
            {% endif %}
            <div class="count">
              <input type="hidden" name="product_id" value="{{ product_id }}" />
              <span onclick="this.nextElementSibling.stepDown()">-</span>
              <input type="number" min="{{ minimum }}" name="quantity" id="input-quantity" value="1">
              <span onclick="this.previousElementSibling.stepUp()">+</span>
            </div>
            <div class="buttons">
              <div class="theme_button fill">
                <button type="button" id="button-cart" data-loading-text="{{ text_loading }}" class="btn btn-primary btn-lg btn-block">{{ button_cart }}</button>
              </div>
              <div class="theme_button">
                <button type="button" id="button-cart" data-loading-text="{{ text_loading }}" class="btn btn-primary btn-lg btn-block">{{ buy_in_1_click }}</button>
              </div>
            </div>
            <div class="additional_info">{{ text_additional_delivery }}</div>
          </div>
          <div class="reviews">
            <div class="reviews_top">
              <div class="stars">
                <span>
                  <svg width="23" height="23" viewBox="0 0 23 23" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M8.12332 4.2424C9.62206 1.41414 10.3715 0 11.4999 0C12.6284 0 13.3778 1.41414 14.8765 4.2424C15.2076 4.8672 15.4952 5.64664 16.0584 6.07505C16.5951 6.48306 17.3442 6.52334 17.9779 6.64541C20.9884 7.22562 22.4936 7.51573 22.8879 8.61689C22.9166 8.69735 22.9409 8.77965 22.9602 8.86336C23.2257 10.0085 22.153 11.0024 20.001 13.345C19.3276 14.078 19.0217 14.4251 18.887 14.8995C18.7624 15.3393 18.8224 15.8157 18.9425 16.7686C19.3554 20.0429 19.5584 21.8576 18.674 22.5986C17.0903 23.9258 14.5357 21.5955 13.1049 20.8965C12.3149 20.5106 11.9199 20.2941 11.4999 20.2941C11.08 20.2941 10.6849 20.5106 9.8949 20.8965C8.4641 21.5955 5.90957 23.9258 4.32579 22.5986C3.44144 21.8576 3.65127 20.0429 4.0641 16.7686C4.18423 15.8157 4.2443 15.3393 4.11958 14.8995C3.98501 14.4251 3.67904 14.078 3.00565 13.345C0.853562 11.0024 -0.225896 10.0085 0.0395627 8.86336C0.058969 8.77965 0.0831574 8.69735 0.111975 8.61689C0.506176 7.51573 2.01142 7.22562 5.02192 6.64541C5.65564 6.52334 6.40474 6.48306 6.94141 6.07505C7.50462 5.64664 7.79222 4.8672 8.12332 4.2424Z" fill="#B3BCC5"/>
                    <path d="M8.12332 4.2424C9.62206 1.41414 10.3715 0 11.4999 0C12.6284 0 11.5013 10.6717 13 13.5C13.3311 14.1248 12.4368 19.8657 13 20.2941C13.5367 20.7021 12.3663 20.723 13 20.8451C16.0105 21.4253 12.7107 19.7953 13.1049 20.8965C13.0856 20.8127 13.1337 20.9769 13.1049 20.8965C13.3704 22.0416 15.652 18.5538 13.5 20.8965C12.8266 21.6295 19.0217 14.4251 18.887 14.8995C18.7624 15.3393 13.8799 19.7407 14 20.6937C14.4129 23.9679 13.8844 19.259 13 20C11.4163 21.3271 14.5357 21.5955 13.1049 20.8965C12.3149 20.5106 11.9199 20.2941 11.4999 20.2941C11.08 20.2941 10.6849 20.5106 9.8949 20.8965C8.4641 21.5955 5.90957 23.9258 4.32579 22.5986C3.44144 21.8576 3.65126 20.0429 4.0641 16.7686C4.18423 15.8157 4.2443 15.3393 4.11958 14.8995C3.98501 14.4251 3.67904 14.078 3.00565 13.345C0.853562 11.0024 -0.225896 10.0085 0.0395627 8.86336C0.058969 8.77965 0.0831574 8.69735 0.111975 8.61689C0.506176 7.51573 2.01142 7.22562 5.02192 6.64541C5.65564 6.52334 6.40474 6.48306 6.94141 6.07505C7.50462 5.64664 7.79222 4.8672 8.12332 4.2424Z" fill="#FFB800"/>
                  </svg>
                </span>
                <span>
                  <svg width="23" height="23" viewBox="0 0 23 23" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M8.12332 4.2424C9.62206 1.41414 10.3715 0 11.4999 0C12.6284 0 13.3778 1.41414 14.8765 4.2424C15.2076 4.8672 15.4952 5.64664 16.0584 6.07505C16.5951 6.48306 17.3442 6.52334 17.9779 6.64541C20.9884 7.22562 22.4936 7.51573 22.8879 8.61689C22.9166 8.69735 22.9409 8.77965 22.9602 8.86336C23.2257 10.0085 22.153 11.0024 20.001 13.345C19.3276 14.078 19.0217 14.4251 18.887 14.8995C18.7624 15.3393 18.8224 15.8157 18.9425 16.7686C19.3554 20.0429 19.5584 21.8576 18.674 22.5986C17.0903 23.9258 14.5357 21.5955 13.1049 20.8965C12.3149 20.5106 11.9199 20.2941 11.4999 20.2941C11.08 20.2941 10.6849 20.5106 9.8949 20.8965C8.4641 21.5955 5.90957 23.9258 4.32579 22.5986C3.44144 21.8576 3.65127 20.0429 4.0641 16.7686C4.18423 15.8157 4.2443 15.3393 4.11958 14.8995C3.98501 14.4251 3.67904 14.078 3.00565 13.345C0.853562 11.0024 -0.225896 10.0085 0.0395627 8.86336C0.058969 8.77965 0.0831574 8.69735 0.111975 8.61689C0.506176 7.51573 2.01142 7.22562 5.02192 6.64541C5.65564 6.52334 6.40474 6.48306 6.94141 6.07505C7.50462 5.64664 7.79222 4.8672 8.12332 4.2424Z" fill="#B3BCC5"/>
                    <path d="M8.12332 4.2424C9.62206 1.41414 10.3715 0 11.4999 0C12.6284 0 11.5013 10.6717 13 13.5C13.3311 14.1248 12.4368 19.8657 13 20.2941C13.5367 20.7021 12.3663 20.723 13 20.8451C16.0105 21.4253 12.7107 19.7953 13.1049 20.8965C13.0856 20.8127 13.1337 20.9769 13.1049 20.8965C13.3704 22.0416 15.652 18.5538 13.5 20.8965C12.8266 21.6295 19.0217 14.4251 18.887 14.8995C18.7624 15.3393 13.8799 19.7407 14 20.6937C14.4129 23.9679 13.8844 19.259 13 20C11.4163 21.3271 14.5357 21.5955 13.1049 20.8965C12.3149 20.5106 11.9199 20.2941 11.4999 20.2941C11.08 20.2941 10.6849 20.5106 9.8949 20.8965C8.4641 21.5955 5.90957 23.9258 4.32579 22.5986C3.44144 21.8576 3.65126 20.0429 4.0641 16.7686C4.18423 15.8157 4.2443 15.3393 4.11958 14.8995C3.98501 14.4251 3.67904 14.078 3.00565 13.345C0.853562 11.0024 -0.225896 10.0085 0.0395627 8.86336C0.058969 8.77965 0.0831574 8.69735 0.111975 8.61689C0.506176 7.51573 2.01142 7.22562 5.02192 6.64541C5.65564 6.52334 6.40474 6.48306 6.94141 6.07505C7.50462 5.64664 7.79222 4.8672 8.12332 4.2424Z" fill="#FFB800"/>
                  </svg>
                </span>
                <span>
                  <svg width="23" height="23" viewBox="0 0 23 23" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M8.12332 4.2424C9.62206 1.41414 10.3715 0 11.4999 0C12.6284 0 13.3778 1.41414 14.8765 4.2424C15.2076 4.8672 15.4952 5.64664 16.0584 6.07505C16.5951 6.48306 17.3442 6.52334 17.9779 6.64541C20.9884 7.22562 22.4936 7.51573 22.8879 8.61689C22.9166 8.69735 22.9409 8.77965 22.9602 8.86336C23.2257 10.0085 22.153 11.0024 20.001 13.345C19.3276 14.078 19.0217 14.4251 18.887 14.8995C18.7624 15.3393 18.8224 15.8157 18.9425 16.7686C19.3554 20.0429 19.5584 21.8576 18.674 22.5986C17.0903 23.9258 14.5357 21.5955 13.1049 20.8965C12.3149 20.5106 11.9199 20.2941 11.4999 20.2941C11.08 20.2941 10.6849 20.5106 9.8949 20.8965C8.4641 21.5955 5.90957 23.9258 4.32579 22.5986C3.44144 21.8576 3.65127 20.0429 4.0641 16.7686C4.18423 15.8157 4.2443 15.3393 4.11958 14.8995C3.98501 14.4251 3.67904 14.078 3.00565 13.345C0.853562 11.0024 -0.225896 10.0085 0.0395627 8.86336C0.058969 8.77965 0.0831574 8.69735 0.111975 8.61689C0.506176 7.51573 2.01142 7.22562 5.02192 6.64541C5.65564 6.52334 6.40474 6.48306 6.94141 6.07505C7.50462 5.64664 7.79222 4.8672 8.12332 4.2424Z" fill="#B3BCC5"/>
                    <path d="M8.12332 4.2424C9.62206 1.41414 10.3715 0 11.4999 0C12.6284 0 11.5013 10.6717 13 13.5C13.3311 14.1248 12.4368 19.8657 13 20.2941C13.5367 20.7021 12.3663 20.723 13 20.8451C16.0105 21.4253 12.7107 19.7953 13.1049 20.8965C13.0856 20.8127 13.1337 20.9769 13.1049 20.8965C13.3704 22.0416 15.652 18.5538 13.5 20.8965C12.8266 21.6295 19.0217 14.4251 18.887 14.8995C18.7624 15.3393 13.8799 19.7407 14 20.6937C14.4129 23.9679 13.8844 19.259 13 20C11.4163 21.3271 14.5357 21.5955 13.1049 20.8965C12.3149 20.5106 11.9199 20.2941 11.4999 20.2941C11.08 20.2941 10.6849 20.5106 9.8949 20.8965C8.4641 21.5955 5.90957 23.9258 4.32579 22.5986C3.44144 21.8576 3.65126 20.0429 4.0641 16.7686C4.18423 15.8157 4.2443 15.3393 4.11958 14.8995C3.98501 14.4251 3.67904 14.078 3.00565 13.345C0.853562 11.0024 -0.225896 10.0085 0.0395627 8.86336C0.058969 8.77965 0.0831574 8.69735 0.111975 8.61689C0.506176 7.51573 2.01142 7.22562 5.02192 6.64541C5.65564 6.52334 6.40474 6.48306 6.94141 6.07505C7.50462 5.64664 7.79222 4.8672 8.12332 4.2424Z" fill="#FFB800"/>
                  </svg>
                </span>
                <span>
                  <svg width="23" height="23" viewBox="0 0 23 23" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M8.12332 4.2424C9.62206 1.41414 10.3715 0 11.4999 0C12.6284 0 13.3778 1.41414 14.8765 4.2424C15.2076 4.8672 15.4952 5.64664 16.0584 6.07505C16.5951 6.48306 17.3442 6.52334 17.9779 6.64541C20.9884 7.22562 22.4936 7.51573 22.8879 8.61689C22.9166 8.69735 22.9409 8.77965 22.9602 8.86336C23.2257 10.0085 22.153 11.0024 20.001 13.345C19.3276 14.078 19.0217 14.4251 18.887 14.8995C18.7624 15.3393 18.8224 15.8157 18.9425 16.7686C19.3554 20.0429 19.5584 21.8576 18.674 22.5986C17.0903 23.9258 14.5357 21.5955 13.1049 20.8965C12.3149 20.5106 11.9199 20.2941 11.4999 20.2941C11.08 20.2941 10.6849 20.5106 9.8949 20.8965C8.4641 21.5955 5.90957 23.9258 4.32579 22.5986C3.44144 21.8576 3.65127 20.0429 4.0641 16.7686C4.18423 15.8157 4.2443 15.3393 4.11958 14.8995C3.98501 14.4251 3.67904 14.078 3.00565 13.345C0.853562 11.0024 -0.225896 10.0085 0.0395627 8.86336C0.058969 8.77965 0.0831574 8.69735 0.111975 8.61689C0.506176 7.51573 2.01142 7.22562 5.02192 6.64541C5.65564 6.52334 6.40474 6.48306 6.94141 6.07505C7.50462 5.64664 7.79222 4.8672 8.12332 4.2424Z" fill="#B3BCC5"/>
                    <path d="M8.12332 4.2424C9.62206 1.41414 10.3715 0 11.4999 0C12.6284 0 11.5013 10.6717 13 13.5C13.3311 14.1248 12.4368 19.8657 13 20.2941C13.5367 20.7021 12.3663 20.723 13 20.8451C16.0105 21.4253 12.7107 19.7953 13.1049 20.8965C13.0856 20.8127 13.1337 20.9769 13.1049 20.8965C13.3704 22.0416 15.652 18.5538 13.5 20.8965C12.8266 21.6295 19.0217 14.4251 18.887 14.8995C18.7624 15.3393 13.8799 19.7407 14 20.6937C14.4129 23.9679 13.8844 19.259 13 20C11.4163 21.3271 14.5357 21.5955 13.1049 20.8965C12.3149 20.5106 11.9199 20.2941 11.4999 20.2941C11.08 20.2941 10.6849 20.5106 9.8949 20.8965C8.4641 21.5955 5.90957 23.9258 4.32579 22.5986C3.44144 21.8576 3.65126 20.0429 4.0641 16.7686C4.18423 15.8157 4.2443 15.3393 4.11958 14.8995C3.98501 14.4251 3.67904 14.078 3.00565 13.345C0.853562 11.0024 -0.225896 10.0085 0.0395627 8.86336C0.058969 8.77965 0.0831574 8.69735 0.111975 8.61689C0.506176 7.51573 2.01142 7.22562 5.02192 6.64541C5.65564 6.52334 6.40474 6.48306 6.94141 6.07505C7.50462 5.64664 7.79222 4.8672 8.12332 4.2424Z" fill="#FFB800"/>
                  </svg>
                </span>
                <span class="gray">
                  <svg width="23" height="23" viewBox="0 0 23 23" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M8.12332 4.2424C9.62206 1.41414 10.3715 0 11.4999 0C12.6284 0 13.3778 1.41414 14.8765 4.2424C15.2076 4.8672 15.4952 5.64664 16.0584 6.07505C16.5951 6.48306 17.3442 6.52334 17.9779 6.64541C20.9884 7.22562 22.4936 7.51573 22.8879 8.61689C22.9166 8.69735 22.9409 8.77965 22.9602 8.86336C23.2257 10.0085 22.153 11.0024 20.001 13.345C19.3276 14.078 19.0217 14.4251 18.887 14.8995C18.7624 15.3393 18.8224 15.8157 18.9425 16.7686C19.3554 20.0429 19.5584 21.8576 18.674 22.5986C17.0903 23.9258 14.5357 21.5955 13.1049 20.8965C12.3149 20.5106 11.9199 20.2941 11.4999 20.2941C11.08 20.2941 10.6849 20.5106 9.8949 20.8965C8.4641 21.5955 5.90957 23.9258 4.32579 22.5986C3.44144 21.8576 3.65127 20.0429 4.0641 16.7686C4.18423 15.8157 4.2443 15.3393 4.11958 14.8995C3.98501 14.4251 3.67904 14.078 3.00565 13.345C0.853562 11.0024 -0.225896 10.0085 0.0395627 8.86336C0.058969 8.77965 0.0831574 8.69735 0.111975 8.61689C0.506176 7.51573 2.01142 7.22562 5.02192 6.64541C5.65564 6.52334 6.40474 6.48306 6.94141 6.07505C7.50462 5.64664 7.79222 4.8672 8.12332 4.2424Z" fill="#B3BCC5"/>
                  </svg>
                </span>
              </div>
              <div class="rating">4.61 / 5</div>
            </div>
            <div class="rating_bars">
              <div class="bar">
                <div class="bar_title">5 звезд</div>
                <div class="bar_progress"><span style="width: 80%"></span></div>
                <div class="bar_count">26</div>
              </div>
              <div class="bar">
                <div class="bar_title">4 звезды</div>
                <div class="bar_progress"><span style="width: 20%"></span></div>
                <div class="bar_count">2</div>
              </div>
              <div class="bar">
                <div class="bar_title">3 звезды</div>
                <div class="bar_progress"><span style="width: 10%"></span></div>
                <div class="bar_count">1</div>
              </div>
              <div class="bar">
                <div class="bar_title">2 звезды</div>
                <div class="bar_progress"><span style="width: 0%"></span></div>
                <div class="bar_count">0</div>
              </div>
              <div class="bar">
                <div class="bar_title">1 звезд</div>
                <div class="bar_progress"><span style="width: 16%"></span></div>
                <div class="bar_count">2</div>
              </div>
            </div>
            <div class="middle_link">
              <a href="./#product_desc" data-tab="tab2">Перейти к отзывам</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="product_additional_info">
    <div class="container">
      <div class="block_wrap">
        <figure>
          <img src="catalog/view/theme/Stanley/image/logo-image.jpg" alt="">
        </figure>
        <div class="block_info">
          <div class="info_list">
            <ul>
              <li>
                <img src="catalog/view/theme/Stanley/image/star.png" alt="">
                <span>4,6{{ text_rating }}</span>
              </li>
              <li>
                <img src="catalog/view/theme/Stanley/image/wallet.png" alt="">
                <span>{{ text_safe_payment }}</span>
              </li>
              <li>
                <img src="catalog/view/theme/Stanley/image/package.png" alt="">
                <span>{{ text_fast_delivery }}</span>
              </li>
              <li>
                <img src="catalog/view/theme/Stanley/image/refund.png" alt="">
                <span>{{ text_return }}</span>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="custom_products">
    <div class="container">
      <div class="section_content">
        <div class="section_title">
          <h2>{{ text_additional_products }}</h2>
          {% set sliderFor = 5 %}
				  {% set productCount = products|length %} 
          {% if productCount > sliderFor %}
            <div class="custom_slider_arrows">
              <div class="prev arrow fa fa-light fa-chevron-left"></div>
              <div class="next arrow fa fa-light fa-chevron-right"></div>
            </div>
          {% endif %}
        </div>
        <div class="products_list owl-carousel">
          {% for product in products %}
            <div class="owl-slide">
              <figure>
                <img src="{{ product.thumb }}" alt="{{ product.name }}">
              </figure>
              <div class="product_content">
                <h3 class="title"><a href="{{ product.href }}">{{ product.name }}</a></h3>
                <div class="slug">{{ text_sku }} {{ product.sku }}</div>
                {% if product.price %}
                  <div class="price">
                    {% if not product.special %}
                      <div class="new">{{ product.price }}</div>
                    {% else %}
                      <div class="new">{{ product.special }}</div>
                      <div class="old">{{ product.price }}</div>
                    {% endif %}
                  </div>
                {% endif %}
                <div style="cursor: pointer" class="buy_btn"><a onclick="cart.add('{{ product.product_id }} ');">{{ button_cart }}</a></div>
              </div>
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </section>
  <section class="product_description" id="product_desc">
    <div class="container">
      <div class="section_tabs">
        <div class="tabs">
          <div class="tab is-active" data-tab="tab1">{{ text_part_discription }}</div>
          <div class="tab" data-tab="tab2">{{ text_part_review }} <sup>{{ count_reviews }}</sup></div>
        </div>
        <div class="tabs_content">
          <div class="tab_content is-active" data-content="tab1content">
            <div class="desc">{{ description }}</div>
          </div>
          <div class="tab_content" data-content="tab2content">
            {% if review_status %}
              <div class="review_block">
                <div id="review" class="reviews_list"></div>
                <div class="review_form_wrap">
                  <form class="form-horizontal" id="form-review">
                    <div class="form_title">{{ text_write }}</div>
                    {% if review_guest %}
                    <div class="form-group required">
                      <div class="col-sm-12">
                        <label class="control-label" for="input-name">{{ entry_name }}</label>
                        <input type="text" name="name" value="{{ customer_name }}" id="input-name" class="form-control" />
                      </div>
                    </div>
                    <div class="form-group required">
                      <div class="col-sm-12">
                        <label class="control-label" for="input-review">{{ entry_review }}</label>
                        <textarea name="text" rows="5" id="input-review" class="form-control"></textarea>
                        <div class="help-block">{{ text_note }}</div>
                      </div>
                    </div>
                    <div class="form-group stars_group required">
                      <input type="hidden" id="review_rating" name="rating" value="0" />
                      <label class="control-label">{{ entry_rating }}</label>
                      <div class="stars">
                        <div class="star">
                          <div class="right " data-star-id="1">
                            <svg class="right" width="23" height="23" viewBox="0 0 23 23" fill="none" xmlns="http://www.w3.org/2000/svg">
                              <path d="M8.12332 4.2424C9.62206 1.41414 10.3715 0 11.4999 0C12.6284 0 13.3778 1.41414 14.8765 4.2424C15.2076 4.8672 15.4952 5.64664 16.0584 6.07505C16.5951 6.48306 17.3442 6.52334 17.9779 6.64541C20.9884 7.22562 22.4936 7.51573 22.8879 8.61689C22.9166 8.69735 22.9409 8.77965 22.9602 8.86336C23.2257 10.0085 22.153 11.0024 20.001 13.345C19.3276 14.078 19.0217 14.4251 18.887 14.8995C18.7624 15.3393 18.8224 15.8157 18.9425 16.7686C19.3554 20.0429 19.5584 21.8576 18.674 22.5986C17.0903 23.9258 14.5357 21.5955 13.1049 20.8965C12.3149 20.5106 11.9199 20.2941 11.4999 20.2941C11.08 20.2941 10.6849 20.5106 9.8949 20.8965C8.4641 21.5955 5.90957 23.9258 4.32579 22.5986C3.44144 21.8576 3.65127 20.0429 4.0641 16.7686C4.18423 15.8157 4.2443 15.3393 4.11958 14.8995C3.98501 14.4251 3.67904 14.078 3.00565 13.345C0.853562 11.0024 -0.225896 10.0085 0.0395627 8.86336C0.058969 8.77965 0.0831574 8.69735 0.111975 8.61689C0.506176 7.51573 2.01142 7.22562 5.02192 6.64541C5.65564 6.52334 6.40474 6.48306 6.94141 6.07505C7.50462 5.64664 7.79222 4.8672 8.12332 4.2424Z" fill="none"/>
                            </svg>
                          </div>
                        </div>
                        <div class="star">
                          <div class="right" data-star-id="2">
                            <svg class="right" width="23" height="23" viewBox="0 0 23 23" fill="none" xmlns="http://www.w3.org/2000/svg">
                              <path d="M8.12332 4.2424C9.62206 1.41414 10.3715 0 11.4999 0C12.6284 0 13.3778 1.41414 14.8765 4.2424C15.2076 4.8672 15.4952 5.64664 16.0584 6.07505C16.5951 6.48306 17.3442 6.52334 17.9779 6.64541C20.9884 7.22562 22.4936 7.51573 22.8879 8.61689C22.9166 8.69735 22.9409 8.77965 22.9602 8.86336C23.2257 10.0085 22.153 11.0024 20.001 13.345C19.3276 14.078 19.0217 14.4251 18.887 14.8995C18.7624 15.3393 18.8224 15.8157 18.9425 16.7686C19.3554 20.0429 19.5584 21.8576 18.674 22.5986C17.0903 23.9258 14.5357 21.5955 13.1049 20.8965C12.3149 20.5106 11.9199 20.2941 11.4999 20.2941C11.08 20.2941 10.6849 20.5106 9.8949 20.8965C8.4641 21.5955 5.90957 23.9258 4.32579 22.5986C3.44144 21.8576 3.65127 20.0429 4.0641 16.7686C4.18423 15.8157 4.2443 15.3393 4.11958 14.8995C3.98501 14.4251 3.67904 14.078 3.00565 13.345C0.853562 11.0024 -0.225896 10.0085 0.0395627 8.86336C0.058969 8.77965 0.0831574 8.69735 0.111975 8.61689C0.506176 7.51573 2.01142 7.22562 5.02192 6.64541C5.65564 6.52334 6.40474 6.48306 6.94141 6.07505C7.50462 5.64664 7.79222 4.8672 8.12332 4.2424Z" fill="none"/>
                            </svg>
                          </div>
                        </div>
                        <div class="star">
                          <div class="right" data-star-id="3">
                            <svg class="right" width="23" height="23" viewBox="0 0 23 23" fill="none" xmlns="http://www.w3.org/2000/svg">
                              <path d="M8.12332 4.2424C9.62206 1.41414 10.3715 0 11.4999 0C12.6284 0 13.3778 1.41414 14.8765 4.2424C15.2076 4.8672 15.4952 5.64664 16.0584 6.07505C16.5951 6.48306 17.3442 6.52334 17.9779 6.64541C20.9884 7.22562 22.4936 7.51573 22.8879 8.61689C22.9166 8.69735 22.9409 8.77965 22.9602 8.86336C23.2257 10.0085 22.153 11.0024 20.001 13.345C19.3276 14.078 19.0217 14.4251 18.887 14.8995C18.7624 15.3393 18.8224 15.8157 18.9425 16.7686C19.3554 20.0429 19.5584 21.8576 18.674 22.5986C17.0903 23.9258 14.5357 21.5955 13.1049 20.8965C12.3149 20.5106 11.9199 20.2941 11.4999 20.2941C11.08 20.2941 10.6849 20.5106 9.8949 20.8965C8.4641 21.5955 5.90957 23.9258 4.32579 22.5986C3.44144 21.8576 3.65127 20.0429 4.0641 16.7686C4.18423 15.8157 4.2443 15.3393 4.11958 14.8995C3.98501 14.4251 3.67904 14.078 3.00565 13.345C0.853562 11.0024 -0.225896 10.0085 0.0395627 8.86336C0.058969 8.77965 0.0831574 8.69735 0.111975 8.61689C0.506176 7.51573 2.01142 7.22562 5.02192 6.64541C5.65564 6.52334 6.40474 6.48306 6.94141 6.07505C7.50462 5.64664 7.79222 4.8672 8.12332 4.2424Z" fill="none"/>
                            </svg>
                          </div>
                        </div>
                        <div class="star">
                          <div class="right" data-star-id="4">
                            <svg class="right" width="23" height="23" viewBox="0 0 23 23" fill="none" xmlns="http://www.w3.org/2000/svg">
                              <path d="M8.12332 4.2424C9.62206 1.41414 10.3715 0 11.4999 0C12.6284 0 13.3778 1.41414 14.8765 4.2424C15.2076 4.8672 15.4952 5.64664 16.0584 6.07505C16.5951 6.48306 17.3442 6.52334 17.9779 6.64541C20.9884 7.22562 22.4936 7.51573 22.8879 8.61689C22.9166 8.69735 22.9409 8.77965 22.9602 8.86336C23.2257 10.0085 22.153 11.0024 20.001 13.345C19.3276 14.078 19.0217 14.4251 18.887 14.8995C18.7624 15.3393 18.8224 15.8157 18.9425 16.7686C19.3554 20.0429 19.5584 21.8576 18.674 22.5986C17.0903 23.9258 14.5357 21.5955 13.1049 20.8965C12.3149 20.5106 11.9199 20.2941 11.4999 20.2941C11.08 20.2941 10.6849 20.5106 9.8949 20.8965C8.4641 21.5955 5.90957 23.9258 4.32579 22.5986C3.44144 21.8576 3.65127 20.0429 4.0641 16.7686C4.18423 15.8157 4.2443 15.3393 4.11958 14.8995C3.98501 14.4251 3.67904 14.078 3.00565 13.345C0.853562 11.0024 -0.225896 10.0085 0.0395627 8.86336C0.058969 8.77965 0.0831574 8.69735 0.111975 8.61689C0.506176 7.51573 2.01142 7.22562 5.02192 6.64541C5.65564 6.52334 6.40474 6.48306 6.94141 6.07505C7.50462 5.64664 7.79222 4.8672 8.12332 4.2424Z" fill="none"/>
                            </svg>
                          </div>
                        </div>
                        <div class="star">
                          <div class="right" data-star-id="5">
                            <svg class="right" width="23" height="23" viewBox="0 0 23 23" fill="none" xmlns="http://www.w3.org/2000/svg">
                              <path d="M8.12332 4.2424C9.62206 1.41414 10.3715 0 11.4999 0C12.6284 0 13.3778 1.41414 14.8765 4.2424C15.2076 4.8672 15.4952 5.64664 16.0584 6.07505C16.5951 6.48306 17.3442 6.52334 17.9779 6.64541C20.9884 7.22562 22.4936 7.51573 22.8879 8.61689C22.9166 8.69735 22.9409 8.77965 22.9602 8.86336C23.2257 10.0085 22.153 11.0024 20.001 13.345C19.3276 14.078 19.0217 14.4251 18.887 14.8995C18.7624 15.3393 18.8224 15.8157 18.9425 16.7686C19.3554 20.0429 19.5584 21.8576 18.674 22.5986C17.0903 23.9258 14.5357 21.5955 13.1049 20.8965C12.3149 20.5106 11.9199 20.2941 11.4999 20.2941C11.08 20.2941 10.6849 20.5106 9.8949 20.8965C8.4641 21.5955 5.90957 23.9258 4.32579 22.5986C3.44144 21.8576 3.65127 20.0429 4.0641 16.7686C4.18423 15.8157 4.2443 15.3393 4.11958 14.8995C3.98501 14.4251 3.67904 14.078 3.00565 13.345C0.853562 11.0024 -0.225896 10.0085 0.0395627 8.86336C0.058969 8.77965 0.0831574 8.69735 0.111975 8.61689C0.506176 7.51573 2.01142 7.22562 5.02192 6.64541C5.65564 6.52334 6.40474 6.48306 6.94141 6.07505C7.50462 5.64664 7.79222 4.8672 8.12332 4.2424Z" fill="none"/>
                            </svg>
                          </div>
                        </div>
                      </div>
                    </div>
                    {{ captcha }}
                    <div class="buttons clearfix">
                      <div class="pull-right">
                        <button type="button" id="button-review" data-loading-text="{{ text_loading }}" class="btn btn-primary">{{ button_continue }}</button>
                      </div>
                    </div>
                    {% else %}
                    {{ text_login }}
                    {% endif %}
                  </form>
                </div>
              </div>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
<script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"></script>
<script>
  $('#review').load('index.php?route=product/product/review&product_id={{ product_id }}');
  $('#button-review').on('click', function() {
    $.ajax({
      url: 'index.php?route=product/product/write&product_id={{ product_id }}',
      type: 'post',
      dataType: 'json',
      data: $("#form-review").serialize(),
      beforeSend: function() {
        $('#button-review').button('loading');
      },
      complete: function() {
        $('#button-review').button('reset');
      },
      success: function(json) {
        $('.alert-dismissible').remove();

        if (json['error']) {
          $('#review').after('<div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> ' + json['error'] + '</div>');
        }

        if (json['success']) {
          $('#review').after('<div class="alert alert-success alert-dismissible"><i class="fa fa-check-circle"></i> ' + json['success'] + '</div>');

          $('input[name=\'name\']').val('');
          $('textarea[name=\'text\']').val('');
          $('input[name=\'rating\']:checked').prop('checked', false);
        }
      }
    });
  });
  $(document).ready(function() {
    
    $(function() {

      var starHalf = $('.right');
      var score = null;

      starHalf.hover(function() {

        var el = $(this);
        var starId = el.attr('data-star-id');

        for (var x = 1; x <= starId; x++) {
          $('.right[data-star-id=' + x + ']').addClass('hover');
        }

        for (var i = (parseInt(starId) + 1); i <= score; i++) {
          $('.right[data-star-id=' + i + ']').addClass('hoverImportant');
        }

      }, function() {

        $('.right').removeClass('hover hoverImportant');

      });

      starHalf.on('click', function() {

        var el = $(this);
        var starId = el.attr('data-star-id');
        el.closest(".stars_group").find("#review_rating").val(starId)
        score = starId;

        starHalf.removeClass('hover hoverImportant');

        for (var x = 1; x <= starId; x++) {
          $('.right[data-star-id=' + x + ']').addClass('clicked');
        }

        for (var i = (parseInt(starId) + 1); i <= 10; i++) {
          $('.right[data-star-id=' + i + ']').removeClass('clicked');
        }

      });
    });
    $('.products_list').owlCarousel({
      items: 5,
      itemsDesktop : [1199,4], 
      itemsDesktopSmall : [991,3], 
      itemsTablet: [480,1], 
      singleItem: false,
      navigation: true,
      pagination: false,
      autoPlay: true         
    });
    
    let mySwiper = new Swiper(".product_slider", {
      slidesPerView: 1,
      loop: false,
      pagination: {
        el: ".swiper-pagination",
        clickable: true,
      },
      breakpoints: {
        1024: {
          direction: "vertical",
          slidesPerView: 6,
        }
      },
    });

    const customArrows = document.querySelectorAll(".custom_slider_arrows .arrow");
    customArrows.forEach( function (item) {
      item.addEventListener("click", e => {
        console.log("clicked")
        const target = e.target;
        const parent = target.closest("section");
        if(parent.classList.contains("tabs")){
          if(target.classList.contains("prev")){
            $(parent.querySelector(".owl-carousel.is-active")).trigger('owl.prev');
          }else if(target.classList.contains("next")){
            $(parent.querySelector(".owl-carousel.is-active")).trigger('owl.next');
          }
        }else{
          if(target.classList.contains("prev")){
            $(parent.querySelector(".owl-carousel")).trigger('owl.prev');
          }else if(target.classList.contains("next")){
            $(parent.querySelector(".owl-carousel")).trigger('owl.next');
          }
        }
      })
    })

    const productSliderItems = $(".product_slider .product-block a");
    productSliderItems.on("click", function (e) {
      e.preventDefault();
      const imageUrl = $(this).attr("href");
      const imageElem = $(this).closest(".product_slider").next(".image");
      const zoomLinkElem = imageElem.find("a");
      const zoomImgElem = imageElem.find("img");
      zoomLinkElem.attr("href", imageUrl);
      zoomImgElem.attr("src", imageUrl);
      zoomImgElem.attr("data-zoom-image", imageUrl);
    })

     // description tabs

    const tabs = document.querySelectorAll(".section_tabs .tabs .tab");
    const tabsContent = document.querySelectorAll(".section_tabs .tabs_content .tab_content");
    tabs.forEach( function (tab) {
      tab.addEventListener( "click", function (e) {
        const target = e.target; 
        const data = target.dataset.tab;
        const parent = target.closest(".section_tabs");
        const tabsContent = parent.querySelectorAll(".tabs_content .tab_content");
        tabsContent.forEach( function (content) {
          if(content.dataset.content === `${data}content`){
            content.classList.add("is-active")
          }else{
            content.classList.remove("is-active")
          }
        })
        parent.querySelector(".tab.is-active").classList.remove("is-active")
        target.classList.add("is-active")

      })
    })

    const middle_links = document.querySelectorAll(".middle_link a");
    middle_links.forEach(function(link) {
      link.addEventListener( "click", function (e) {
        const target = e.target;
        const tabContent = target.dataset.tab;
        tabsContent.forEach( function (item) {
          item.classList.remove(".is-active")
        })
        tabs.forEach( function (item) {
          item.classList.remove(".is-active")
        })
        document.querySelector(`.tab_content[data-content="${tabContent}content"]`).add(".is-active")
        document.querySelector(`.tab_content[data-ტაბ="${tabContent}"]`).add(".is-active")
      })
    })

    if ($(window).width() < 580) {
      tabs.forEach(function(tab, index) {
        const tabText = tab.innerHTML;
        const parent = tab.closest(".section_tabs");
        parent.querySelectorAll(".tabs_content .tab_content")[index].insertAdjacentHTML("beforebegin", `
          <div class="tabs visible">
            <div class="tab">${tabText}</div>
          </div>
        `)
      })
    }

    $('.thumbnails').magnificPopup({
      type:'image',
      delegate: 'a',
      gallery: {
        enabled: true
      }
    });

    if ($(window).width() > 767) {
      $("#tmzoom").elevateZoom({
          
          gallery:'product_slider',
          //inner zoom				 
                  
          zoomType : "inner", 
          cursor: "crosshair" 
          
          /*//tint
          
          tint:true, 
          tintColour:'#F90', 
          tintOpacity:0.5
          
          //lens zoom
          
          zoomType : "lens", 
          lensShape : "round", 
          lensSize : 200 
          
          //Mousewheel zoom
          
          scrollZoom : true*/
          
          
        });
      var z_index = 0;
                    
      $(document).on('click', '.thumbnail', function () {
        $('.thumbnails').magnificPopup('open', z_index);
        return false;
      });

      $('.product_slider .product-block a').click(function() {
        var smallImage = $(this).attr('data-image');
        var largeImage = $(this).attr('data-zoom-image');
        var ez =   $('#tmzoom').data('elevateZoom');	
        $('.thumbnail').attr('href', largeImage);  
        ez.swaptheimage(smallImage, largeImage); 
        z_index = $(this).index('.product_slider .product-block a');
        return false;
      });
        
    }else{
      $(document).on('click', '.thumbnail', function () {
      $('.thumbnails').magnificPopup('open', 0);
      return false;
      });
    }     
    $('.thumbnails').magnificPopup({
      delegate: 'a.elevatezoom-gallery',
      type: 'image',
      tLoading: 'Loading image #%curr%...',
      mainClass: 'mfp-with-zoom',
      gallery: {
        enabled: true,
        navigateByImgClick: true,
        preload: [0,1] // Will preload 0 - before current, and 1 after the current image
      },
      image: {
        tError: '<a href="%url%">The image #%curr%</a> could not be loaded.',
        titleSrc: function(item) {
          return item.el.attr('title');
        }
      }
    });
  });
</script> 
{{ footer }} 